.header {
    height: 80px;
    width: 100%;
    background: linear-gradient(90deg, #0bbe74, #8aecd1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logoImage {
    width: 40px;
    height: 40px;
}
.logo {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
}